@import 'universals';
@import 'variables';
@import 'mixings';

body{
    background: linear-gradient(to right, #f81f1f, #ea2c8e);
    font-size: $font-xl;
}

.header{
    &__nav{
        display: flex;
        justify-content: space-between;
        h1{
            color: $color-primary;
        }
    }
}

.button{
    @include buttons();
    &--nav{
        background-color: $color-primary;
        color: #fff;
        margin-top: 24px;
        margin-bottom: 24px;
        padding: 16px;
        font-size: $font-xl;
        border-radius: 8px;
        &:hover{
            border: 1px solid $color-primary;
            color: $color-primary;
        }
    }
    &--success{
        background-color: $color-success;
        color: #eeebeb;
        margin-top: 24px;
        margin-bottom: 24px;
        padding: 16px;
        font-size: $font-xl;
        &:hover{
            border: 1px solid  $color-success;
            color:  $color-success;
        }
    }
}

.form{
    display: flex;
    flex-direction: column;
    gap: 10px;

    &__label{
        font-size: 14px;
        color: $color-primary;
        font-weight: 600;
    }

    &__input{
        font-size: $font-xl;
        padding: 20px 10px;
        border-radius: 5px;
        outline: none;
        border: 1px solid $color-primary;
    }
    &__select{
        padding: 20px 10px;
        font-size: $font-xl;
        border-radius: 8px;
    }
}



