@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
    background: linear-gradient(to right, #197f38, #1dce26);
 
 }
$font-type:'Poppins';
$color-primary: #4e06a7;
$color-secondary: #2b4fe0;
$color-success:#3391b3; 